

body{
    background: url(../img/fundo.svg);
    background-size: cover;
    
    height: 100vh;
    width: 100vw;
    position: relative;
    transition: .5s;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.icon-calc{
    color: white;
    position: absolute;
    top: 50%;
    left: 10%;
    cursor: pointer;
}

.hidden{
    display: none;
}

.icon-calc > img{
    width:80px;
}

.icon-calc > p{
    font-family: 'Times New Roman', Times, serif;
}


.container-calc{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .5s;
}

.header-calc{
    padding: .2em;
}

.header-calc-1{
    padding: 1em;
}

.header-calc-1, .header-calc-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.icons-header-1, .icons-header-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.header-calc-2{
    padding: 1em 0;
}

.header-calc-2 > h2{
    font-size: 1.3em;
    font-weight: 700;
}

#operations{
    text-align: right;
    padding: 1em; 
}

#current-operation{
    padding-top: 1em;
    font-size: 2em;
    overflow-wrap: break-word;
    min-height: 1.9em;
}

#previus-operation{
    font-size: 1.2em;
    padding-top: 1em;
    color: rgb(237, 234, 234);
    overflow-wrap: break-word;
    min-height: 1.6em;
}

button{
    cursor: pointer;
}

#buttons-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: (4, 1fr);
    gap: 3px;
}

.operator{
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.operator:hover{
    background-color: rgba(0, 0, 0, 0.7);
    transition: .5s;
}

.number{
    background-color: rgba(0, 0, 0, 0.8);
}

.number:hover{
    background-color: rgba(0, 0, 0, 0.95);
}

.operator, .number, .equal{
    padding: 1em;
}

.equal{
    background-color:#622356 ;
}

.img-delete{
    width: 30px;
}

.g > img{
    width: 40px;
}

.del{
    background-image: url(../img/delete.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0.001em;
    font-weight: 100;
}

.glass{
    width: 380px;
    height: 580px;
    padding: 2em;
    border-radius: 16px;
    background: #ffffff20;
    box-shadow: 0 10px 30px #ffffff50;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff50;
    transition: 0.4s ease all;
}

.glass:hover{
    
    background: #ffffff30;
    backdrop-filter: blur(10px);

}

footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5em 1em;
    
}

footer > a{
    transition: .5s;
}

footer > a:hover{
    color: rgb(135, 129, 129);
}